page-login {
    .toolbar-background{
        background-color: red;
        }

    .contenido{
        background-color: red;
    }

    .ingreso{
        width: 100%;
        height: 10px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 20px; 
        top: 120px;
    }

    .lista{
        margin-top: 70px;
    }

    .inicio{
      top: 280px;
      font-size: 1.3em;
      left: 80px;
    }

    
    .registro{
        top: 320px;
        font-size: 1.3em;
        left: -80px;
      }

}
