page-home {
   .cont{
       background-color: red;
   }

   .toolbar-background{
    background-color: #555555;
    }
    .lista{
        background-color: #f5f5dc;
        margin: 20px;
        left: -8px;
    
        p{
            color:black;
        }
    }


.inicio{
    top: 60px;
    font-size: 1.3em;
    left: 50px;
  
}

}
